.menu_link {
    margin-right: 10px;
    color: red;
    font-weight: bold;
}



#skype-btn, #facebook-btn, #tumblr-btn {
    width: 24px;
}

#social_buttons {
    position: absolute;
    right: 1100px;
    top: 5px;
}


.hidden { display: none; }

.social_botton a i.see_btn {
    background: url(../img/see.jpg) no-repeat;
}